extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Diana Garcia 

            p Full Stack JavaScript Developer


        .about-bio

            p Life is about the moments you create and live to relive. As an immigrant, I take pride in my roots and seeks to a life long learner and aim to take advantage of every opportunity given to become a better version of myself, with the intention to give back to my community.  


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 408-648-8753
          li dianag766@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/dianagarcia6/') LinkedIn
        a.btn-link(href='https://github.com/dianag76') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back